.aim {
    padding-top: 4.81rem;

    &__title {
        font-family: Montserrat Alternates;
        font-weight: @fwM;
        color: @textColor;
        font-size: 2.12rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 1.12rem;
        color: @textColor;
        text-align: center;
        line-height: 30px;

        br {
            @media screen and (max-width: 1199px) {
                display: none;
            }
        }
    }

    .step {
        margin-bottom: 7.3rem;

        @media screen and (max-width: 991px) {
            margin-bottom: 4.3rem;
        }

        br {
            @media screen and (max-width: 1199px) {
                display: none;
            } 
        }

        &__image-wrap {

            @media screen and (max-width: 991px) {
                margin-bottom: 30px;
            }
        }
    }

    &__work {
        min-height: 550px;
        margin-bottom: 5.75rem;

        @media screen and (max-width: 991px) {
            margin-bottom: 2.75rem;
        }

        &--materials {
            background: url('./../../img/backgrounds/covers/work1.jpg') no-repeat center/cover;
        }

        &--manufacture {
            background: url('./../../img/backgrounds/covers/work2.jpg') no-repeat center/cover;
        }
    }

    &__ligt-desc {
        text-align: left;
        font-size: 1.12rem;
        line-height: 30px;
        margin-bottom: 5.75rem;

        
        @media screen and (max-width: 991px) {
            margin-bottom: 2.75rem;
        }

        .col-xl-6 {

            &:first-child {
                p {
                    display: block;
                    padding-right: 26px;
                }        
            }

            @media screen and (max-width: 991px) {
                margin-bottom: 20px;
            }
        }

        span {
            font-weight: @fwSB;
        }
    }

    &__aim-content {
        margin-bottom: 5.75rem;
    }
}