.catalog {
    padding: 4rem 0 8rem 0;

    .catalog-menu {
        margin-bottom: 4.32rem;
    }
}

.feedbacks {
    padding: 8rem 0;

    &__title {
        font-size: 2.1rem;
        font-weight: @fwN;
        margin-bottom: 3.75rem;
    }
}

.offer {
    background: url('./../../img/backgrounds/new-salon.png');
    padding: 10rem 0;

    &__title {
        font-size: 2.12rem;
        color: @whiteColor;
        font-weight: @fwL;
        font-family: Montserrat Alternates, sans-serif;
        margin-bottom: 4px;
    }

    &__sub-title {
        font-family: Montserrat Alternates, sans-serif;
        font-size: 2.12rem;
        color: @whiteColor;
        font-weight: @fwSB;
        margin-bottom: 2.25rem;
    }

    &__description {
        font-weight: @fwM;
        font-size: 18px;
        color: @whiteColor;
        line-height: 32px;
    }
}

.callback-form {
    padding: 3.75rem 0;
    background: url('./../../img/backgrounds/callback.png');

    &__title {
        font-size: 3.25rem;
        font-family: Montserrat Alternates, sans-serif;
        margin-bottom: 4px;
        color: @whiteColor;
        font-weight: @fwN;
        text-align: center;
    }

    &__description {
        color: @whiteColor;
        font-size: 1.25rem;
        margin-bottom: 42px;
        text-align: center;
        line-height: 30px
    }
}

.refers {
    padding: 8.12rem 0;
    margin-bottom: -41px;

    .catalog-refer {
        margin-bottom: 41px;
    }
}

.map {
    position: relative;

    .container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        z-index: 20;
        height: 100%;
        display: flex;
        align-items: center;

        .row {
            width: 100%;
        }
    }
}