.footer {
    background-color: #111;
    padding: 3.9rem 0 7rem 0;

    &__list {

        &:not(:first-child) {
            margin-left: 6.25rem;

            @media screen and (max-width: 620px) {
                margin-left: 0;
            }
        }

        &:not(:last-child) {

            @media screen and (max-width: 620px) {
                margin-bottom: 20px;
            }
        }

        .refer {
            height: 50px;
            width: 162px;
            background-color: @whiteColor;
            color: @textColor;
            margin-top: 16px;

            &:hover {
                background-color: transparent;
                color: @whiteColor;
            }
        }


    }

    &__list-wrap {
        @media screen and (max-width: 620px) {
            flex-direction: column;
        }
    }

    &__link {
        color: @whiteColor;
        text-decoration: none;
        line-height: 36px;
        font-size: 18px;
        transition: @defaultTransition;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: @whiteColor;
            transition: @defaultTransition;

        }

        &:hover {

            &:after {
                width: 94%;
            }
        }
    }

    .num {
        color: @whiteColor;
        font-size: 1.8rem;
        margin-bottom: 30px;

        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    &__email {
        color: @whiteColor;
        font-size: 19px;
        font-weight: @fwM;
        margin-bottom: 16px;
        text-decoration: none;
        display: block;

        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    &__developer {
        color: @unactiveColor;
        font-size: 19px;
        text-decoration: none;
        display: block;

        span {
            font-weight: @fwSB;
        }


        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    .logo {
        margin-bottom: 20px;
    }

    .social-media {

        &__link {
            transition: @defaultTransition;
            &:not(:last-child) {
                margin-right: 15px;
            }

            &:hover {
                transform: rotate(360deg);
            }
        }

        @media screen and (max-width: 991px) {
            margin-bottom: 20px;
        }
    }


}