.header {
    padding: 1.75rem 0;

    .nav {
        margin-left: 4.37rem;
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    .num {
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }
}