.callback {

    &__field {
        height: 65px;
        background-color: @whiteColor;
        border-radius: 5px;
        border: none;
        width: 100%;
        display: block;
        padding: 0 28px;
        margin-bottom: 23px;
    }
}