.catalog-item {
    text-decoration: none;
    display: block;

    &__image-wrap {
        background-color: #F8F8F8;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 341px;
        margin-bottom: 1.87rem;


        &:hover {

            .catalog-item__image {
                transform: translate(-50%, -34%) scale(1.02);
            }
        }
    }

    &__image { 
        width: 120%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -34%);
        transition: @defaultTransition;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: @fwL;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: @textColor;
    }

    &__desc {
        font-size: 16px;
        color: #979797;
        text-align: center;
        line-height: 20px;
        font-weight: @fwL;
    }
}